/**
 * This file is part of BowBuddy.
 *
 * BowBuddy is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * BowBuddy is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with BowBuddy.  If not, see <http://www.gnu.org/licenses/>.
 *
 *
 * Copyright 2017-2018 Christoph Matscheko
 */
#course-label {
  font-style: italic;
}

#leaderboard > .collection-item.avatar {
  padding: 10px;
}

.leaderboard-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  float: left;
  margin-right: 10px;
}

.leaderboard-badge.first-place {
  color: #fafafa;
  font-size: 26px;
}

.leaderboard-badge.second-place {
  color: #fafafa;
  font-size: 22px;
}

.leaderboard-badge.third-place {
  color: #fafafa;
  font-size: 18px;
}
