.main-menu > a {
  display: block;
  clear: both;
  width: 250px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.main-menu > a > span.glyphicon {
  top: 2px;
  left: -4px;
}

.config-panel-heading {
  display: flex;
  align-items: center;
}

.config-panel-heading > .header {
  margin-right: 12px;
  font-weight: bold;
}

.player-dropdown,
.course-dropdown {
  min-width: 228px;
}

.player-dropdown .form-control,
.course-dropdown .form-control {
  padding: 3px, 6px;
}

#new-course-name {
  max-width: 110px;
}

#new-course-no-of-stations {
  max-width: 36px;
}

.player-dropdown > .dropdown-menu > li:last-child,
.course-dropdown > .dropdown-menu > li:last-child {
  padding: 3px 20px;
}
