<!--
This file is part of BowBuddy.

BowBuddy is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

BowBuddy is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with BowBuddy.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>BowBuddy 1.0 (Prototype) - Final score</title>
		<meta name="description" content="An app for keeping track of your score" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../css/main.css" />
		<style>
			.app-logo {
				margin-bottom: 45px;
			}
			
			.player-selection {
				width: 100%;
				margin-top: 22px;
			}
			
			#course-label {
				font-style: italic;
			}
		</style>
		<link rel="stylesheet" href="../css/bootstrap-theme.min.css">
		<script src="../js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
	</head>
	<body>
		<nav class="navbar">
			<a class="btn" href="#" id="back-btn" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
		</nav>
		<div class="container" id="main">
			<h1>Course complete:<br/><span id="course-label"></span></h1>

			<table class="table table-striped">
				<thead>
					<tr id="player-header-row">
						<td>#</td>
					</tr>
				</thead>
				<tbody id="player-score-entries">
					<!-- SCORE ENTRIES -->
				</tbody>
			</table>
			
			<div class="btn-group btn-group-justified" role="group">
				<a class="btn btn-success btn-lg" href="../index.html" role="button">
					<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Finish course
				</a>
			</div>
		</div>
		
		<script src="../js/vendor/jquery-1.11.2.min.js"></script>
		<script src="../js/vendor/bootstrap.min.js"></script>
		<script src="../js/main.js"></script>
		<script>
			$(function(){
				const urlParams = BowBuddy.getUrlParams();
				
				$("nav.navbar").on("click", BowBuddy.switchToFullscreenFunc());
				
				// TODO really ugly algo to sum up values... -_-'
				function generateScoreTable(playerNames, scores) {
					console.log("generateScoreTable");
				
					const $playerHeaderRow = $("#player-header-row");
					const $playerScoreEntries = $("#player-score-entries");
					
					playerNames.forEach((playerName) => $playerHeaderRow.append($("<th/>").text(playerName)));
					scores.forEach((scoresForStation, index) => {
						let $tr = $("<tr/>");
						
						$tr.append($("<td/>").text(index + 1));
						scoresForStation.forEach((score) => $tr.append($("<td/>").text(BowBuddy.scoreToPoints(score))));
						$playerScoreEntries.append($tr);
					});
					
					let $sumRow = $("<tr/>").addClass("info").css("font-weight", "bold");
					$sumRow.append($("<td/>").html("&nbsp;")); // insert filler cell
					scores[0].forEach((score, column) => {
						$sumRow.append(
							$("<td/>").text(
								scores.reduce((sum, row) => {
									return sum + BowBuddy.scoreToPoints(row[column]);
								}, 0)));
					});
					$playerScoreEntries.append($sumRow);
				}
				
				BowBuddy.storage.getCourseForGame(urlParams.gid)
					.then((course) => {
						const stations = +course.stations; // TODO remove type coercion with new db!
						let playerNames;
						let scores = new Array(stations);
						let scoreCount = 0;
						
						$("#course-label").text((course.place ? course.place + " " : "") + course.name);
						$("#back-btn")
							.on("click", (e) => {
								window.location.href = "station-select-player.html?gid=" + urlParams.gid + "&station=" + stations;
							});
							
						for (let i = 1; i <= stations; i++) {
							const station = i;
							
							BowBuddy.storage.getPlayersWithScore(urlParams.gid, station)
								.then((players) => {
									if (station === 1) {
										playerNames = players.map((p) => p.name);
										console.log(playerNames);
									}
									scores[station - 1] = players.map((p) => p.score);
									
									console.log(scores[station - 1]);
									if (++scoreCount === stations) { 
										console.log(scoreCount + " = " + stations);
										generateScoreTable(playerNames, scores);
									} else {
										console.log(scoreCount + "/" + stations);
									}
								});
						}
					});
			});
		</script>
	</body>
</html>
