<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>BowBuddy 1.0 (Prototype) - New Game</title>
		<meta name="description" content="An app for keeping track of your score">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/main.css">
		<style>
			.main-menu > a {
				display: block;
				clear: both;
				width: 250px;
				margin-bottom: 15px;
				margin-left: auto;
				margin-right: auto;
			}
			
			.main-menu > a > span.glyphicon {
				top: 2px;
				left: -4px;
			}
			
			.config-panel-heading {
				display: flex;
				align-items: center;
			}
			
			.config-panel-heading > .header {
				margin-right: 12px;
				font-weight: bold;
			}
			
			.player-dropdown, .course-dropdown {
				min-width: 228px;
			}
			
			.player-dropdown .form-control, .course-dropdown .form-control {
				padding: 3px; 6px;
			}
			
			#new-course-name {
				max-width: 110px;
			}
			
			#new-course-no-of-stations {
				max-width: 36px;
			}
			
			.player-dropdown > .dropdown-menu > li:last-child,
			.course-dropdown > .dropdown-menu > li:last-child {
				padding: 3px 20px;
			}
		</style>
		<link rel="stylesheet" href="../css/bootstrap-theme.min.css">
		<script src="../js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
	</head>
	<body>
		<nav class="navbar">
			<a class="btn" href="../index.html" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
		</nav>
		<div class="container" id="main">
			<h1>New Game</h1>
			
			<div class="panel panel-default" style="margin-top: 20px;">
				<div class="panel-heading config-panel-heading">
					<div class="header">Choose players:</div>
					<div class="btn-group player-dropdown">
						<button class="btn btn-default" type="button" aria-haspopup="true" aria-expanded="true">
							Add player...
						</button>
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li role="separator" class="divider"></li>
							<li>
								<div class="input-group">
									<input type="text" placeholder="Add new player" id="new-player-name" class="form-control" aria-label="Add new player">
									<span class="input-group-btn">
										<a class="btn btn-success" href="#" role="button" id="add-player-btn" disabled>
											<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
										</a>
									</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Player</th>
								<th>Email</th>
								<th>Rang</th>
							</tr>
						</thead>
						<tbody id="player-entries">
							<tr id="dummy-player-entry">
								<td>-</td>
								<td>-</td>
								<td>-</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading config-panel-heading">
					<div class="header">Choose course:</div>
					<div class="btn-group course-dropdown">
						<button class="btn btn-default" type="button" aria-haspopup="true" aria-expanded="true">
							Set course...
						</button>
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li role="separator" class="divider"></li>
							<li>
								<div class="input-group">
									<input type="text" placeholder="Add new course" id="new-course-name" class="form-control" aria-label="Add new course">
									<input type="number" placeholder="#" id="new-course-no-of-stations" class="form-control" aria-label="No. of stations">
									<span class="input-group-btn">
										<a class="btn btn-success" href="#" role="button" id="set-course-btn" disabled>
											<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
										</a>
									</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Course</th>
								<th>Place</th>
								<th>Stations</th>
							</tr>
						</thead>
						<tbody id="course-entries">
							<tr>
								<td>-</td>
								<td>-</td>
								<td>-</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="btn-group btn-group-justified" role="group">
				<a class="btn btn-success btn-lg" href="#" id="start-game-btn" role="button" disabled>
					<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Start Game
				</a>
			</div>
		</div>
		
		<script src="../js/vendor/jquery-1.11.2.min.js"></script>
		<script src="../js/vendor/bootstrap.min.js"></script>
		<script src="../js/main.js"></script>
		<script>
			$(function(){
				let playerConfigured = false;
				let courseConfigured = false;
				let existingPlayers = [];
				let existingCourses = [];
				let configuredPlayers = [];
				
				function addPlayerToTable(player) {
					$("#dummy-player-entry").remove();
					$("#player-entries")
						.append($("<tr/>")
							.attr("data-pid", player.pid)
							.append($("<td/>").text(player.name), $("<td/>").text(player.email || "-"), $("<td/>").text("-")));
					
					configuredPlayers.push(player);
					updatePlayerSelectionMenu(configuredPlayers);
					playerConfigured = true;
					if (playerConfigured && courseConfigured) {
						$("#start-game-btn").removeAttr("disabled");
					}
				}
				
				function addCourseToTable(course) {
					console.log("addCourseToTable");
					console.log(course);
				
					$("#course-entries")
						.empty()
						.append($("<tr/>")
							.attr("data-cid", course.cid)
							.append($("<td/>").text(course.name), $("<td/>").text(course.place || "-"), $("<td/>").text(course.stations)));
							
					updateCourseSelectionMenu(course);
					courseConfigured = true;
					if (playerConfigured && courseConfigured) {
						$("#start-game-btn").removeAttr("disabled");
					}
				}
			
				let lockPlayerDropdown = false;
				let lockCourseDropdown = false;
				
				const urlParams = BowBuddy.getUrlParams();
				console.log(urlParams);
				
				$("nav.navbar").on("click", BowBuddy.switchToFullscreenFunc());
				
				function updatePlayerSelectionMenu(excludedPlayers) {
					BowBuddy.storage.getPlayers().then((players) => {
						const $playerMenu = $(".player-dropdown > .dropdown-menu");
				
						existingPlayers = players;
						$playerMenu.find("li[data-pid]").remove();
						players.reverse().forEach((player) => {
							if (excludedPlayers !== undefined && excludedPlayers.some((excludedPlayer) => excludedPlayer.pid === player.pid)) {
								return;
							}
							
							const $playerEntry = $("<li/>")
								.attr("data-pid", player.pid)
								.append(
									$("<a/>")
										.on("click", (e) => {
											$playerEntry.remove();
											addPlayerToTable(player);
										})
										.text(player.name));
						
							$playerMenu.prepend($playerEntry);
						});
					});
				}
				
				function updateCourseSelectionMenu(excludedCourse) {
					BowBuddy.storage.getCourses().then((courses) => {
						const $courseMenu = $(".course-dropdown > .dropdown-menu");
				
						existingCourses = courses;
						$courseMenu.find("li[data-cid]").remove();
						courses.reverse().forEach((course) => {
							if (excludedCourse !== undefined && excludedCourse.cid === course.cid) {
								return;
							}
						
							const $courseEntry = $("<li/>")
								.attr("data-cid", course.cid)
								.append(
									$("<a/>")
										.on("click", (e) => {
											$courseEntry.remove();
											addCourseToTable(course);
										})
										.text(course.name + " (" + course.stations + ")"));
						
							$courseMenu.prepend($courseEntry);
						});
					});
				}
				
				function verifyPlayerInput() {
					const playerName = $("#new-player-name").val();
					
					if (!playerName || /^\s+/.test(playerName) || /\s+$/.test(playerName) ||
						existingPlayers.some((player) => player.name === playerName))
					{
						$("#add-player-btn").attr("disabled", "disabled");
					} else {
						$("#add-player-btn").removeAttr("disabled");
					}
				}
				
				function verifyCourseInput() {
					const courseName = $("#new-course-name").val();
					const noOfStations = $("#new-course-no-of-stations").val();
					
					if (!courseName || /^\s+/.test(courseName) || /\s+$/.test(courseName) ||
						!noOfStations || !/^[1-9][0-9]*$/.test(noOfStations) ||
						existingCourses.some((course) => course.name === courseName))
					{
						$("#set-course-btn").attr("disabled", "disabled");
					} else {
						$("#set-course-btn").removeAttr("disabled");
					}
				}
				
				updatePlayerSelectionMenu();
				updateCourseSelectionMenu();
				
				$("#new-player-name")
					.on("focus", (e) => lockPlayerDropdown = true)
					.on("blur", (e) => lockPlayerDropdown = false)
					.on("keyup", (e) => verifyPlayerInput());
				$("#new-course-name")
					.on("focus", (e) => lockCourseDropdown = true)
					.on("blur", (e) => lockCourseDropdown = false)
					.on("keyup", (e) => verifyCourseInput());
				$("#new-course-no-of-stations")
					.on("focus", (e) => lockCourseDropdown = true)
					.on("blur", (e) => lockCourseDropdown = false)
					.on("keyup", (e) => verifyCourseInput());
				
				$("#add-player-btn").on("click", (e) => {
					const playerName = $("#new-player-name").val();
					
					$(".player-dropdown").addClass("disabled"); // TODO what is this doing?
					BowBuddy.storage.addPlayer(playerName, "")
						.then((player) => addPlayerToTable(player));
				});	
				$("#set-course-btn").on("click", (e) => {
					const courseName = $("#new-course-name").val();
					const noOfStations = $("#new-course-no-of-stations").val();
					
					$(".course-dropdown").addClass("disabled"); // TODO what is this doing?
					BowBuddy.storage.addCourse(courseName, "", "", noOfStations)
						.then((course) => addCourseToTable(course));
				});
			
				$(".player-dropdown").on("hide.bs.dropdown", function (e) {
					console.info("hide player dropdown");
					if (lockPlayerDropdown) {
						e.preventDefault();
					} else {
						$("#new-player-name").val("");
						$("#add-player-btn").attr("disabled", "disabled");
					}
				});
				$(".course-dropdown").on("hide.bs.dropdown", function (e) {
					console.info("hide course dropdown");
					if (lockCourseDropdown) {
						e.preventDefault();
					} else {
						$("#new-course-name").val("");
						$("#new-course-no-of-stations").val("");
						$("#set-course-btn").attr("disabled", "disabled");
					}
				});
				
				$("#start-game-btn").on("click", (e) => {
					let cid;
					let pids = [];
				
					$("#start-game-btn").attr("disabled", "disabled");
					
					cid = +$("#course-entries > tr[data-cid]").attr("data-cid");
					$("#player-entries > tr[data-pid]").each(function() { pids.push(+$(this).attr("data-pid")); });
					
					BowBuddy.storage.addGame(cid, pids)
						.then((game) => {
							window.location.href = "station-select-player.html?gid=" + game.gid + "&station=1";
						});
				});
			});
		</script>
	</body>
</html>
