<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>BowBuddy 1.0 (Prototype) - New Game</title>
		<meta name="description" content="An app for keeping track of your score" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../css/main.css" />
		<style>
			.app-logo {
				margin-bottom: 45px;
			}
			
			.player-selection {
				width: 100%;
				margin-top: 22px;
			}
			
			#player-selection-list {
				margin-bottom: 12px;
			}
		</style>
		<link rel="stylesheet" href="../css/bootstrap-theme.min.css">
		<script src="../js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
	</head>
	<body>
		<nav class="navbar">
			<a class="btn" href="#" id="back-btn" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
		</nav>
		<div class="container" id="main">
			<h1>Station <span id="station-no">?</span>: Select player</h1>

			<div class="btn-group-vertical btn-group-lg player-selection" id="player-selection-list" role="group" aria-label="choose player">
				<!-- PLAYER BUTTONS ARE INSERTED HERE -->
			</div>
			
			<div class="btn-group btn-group-justified" role="group">
				<a class="btn btn-success btn-lg" href="#" id="next-station-btn" role="button" disabled="disabled">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Next station
				</a>
			</div>
		</div>
		
		<script src="../js/vendor/jquery-1.11.2.min.js"></script>
		<script src="../js/vendor/bootstrap.min.js"></script>
		<script src="../js/main.js"></script>
		<script>
			$(function(){
				const urlParams = BowBuddy.getUrlParams();
				
				console.log(urlParams);
				
				$("nav.navbar").on("click", BowBuddy.switchToFullscreenFunc());
				$("#back-btn")
					.on("click", (e) => {
						const station = urlParams.station;
						
						if (station > 1) {
							window.location.href = "station-select-player.html?gid=" + urlParams.gid + "&station=" + (station - 1);
						} else {
							const result = window.confirm("Do you really want to go back to the game menu? All progess will be lost!");
							
							if (result) {
								// TODO replace native dialog with bootstrap dialog and actually delete all scores for current game!
								window.location.href = "new-game.html";
							}
						}
					});
				$("#next-station-btn")
					.on("click", (e) => window.location.href = "station-select-player.html?gid=" + urlParams.gid + "&station=" + (urlParams.station + 1));
				$("#station-no").text(urlParams.station);
				
				BowBuddy.storage.getPlayersWithScore(urlParams.gid, urlParams.station)
					.then((players) => {
						const $playerSelectionList = $("#player-selection-list");
						let playersWithScore = 0;
						
						players.forEach((player) => {
							const $playerEntry = $("<a/>")
									.addClass("btn btn-default")
									.attr("href", "station-set-score.html?gid=" + urlParams.gid + "&pid=" + player.pid + "&station=" + urlParams.station)
									.attr("role", "button")
									.text(player.name + " "); // add space separator here for score badge
							
							if (player.score) {
								const $scoreBadge = $("<span/>").addClass("badge");
								
								playersWithScore++;
								
								if (player.score === "miss") {
									$scoreBadge.html("Miss&nbsp;&nbsp;&nbsp;(+0)");
								} else {
									const scoreParts = player.score.split(":");
									let penalty;
									let scoredPoints;
									let scoreLabel;
									
									switch (scoreParts[0]) {
										case "first-turn":
											scoreLabel = "1<sup>st</sup>";
											penalty = 0;
											break;
										case "second-turn":
											scoreLabel = "2<sup>nd</sup>";
											penalty = 1;
											break;
										case "third-turn":
											scoreLabel = "3<sup>rd</sup>";
											penalty = 2;
											break;
										default:
											throw new Error("Invalid score format '" + player.score + "'");
									}
									scoreLabel += " - ";
									switch (scoreParts[1]) {
										case "body-hit":
											scoreLabel += "Body";
											scoredPoints = 16 - penalty * 6;
											break;
										case "kill-hit":
											scoreLabel += "Kill";
											scoredPoints = 18 - penalty * 6;
											break;
										case "center-kill-hit":
											scoreLabel += "Center Kill";
											scoredPoints = 20 - penalty * 6;
											break;
										default:
											throw new Error("Invalid score format '" + player.score + "'");
									}
									$scoreBadge.html(scoreLabel + "&nbsp;&nbsp;&nbsp;(+" + scoredPoints + ")");
								}								
								$playerEntry.append($scoreBadge);
							}
							
							$playerSelectionList.append($playerEntry);
						});
						
						if (playersWithScore === players.length) {
							$("#next-station-btn").removeAttr("disabled");
						}
					});
			});
		</script>
	</body>
</html>
