<!--
This file is part of BowBuddy.

BowBuddy is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

BowBuddy is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with BowBuddy.  If not, see <http://www.gnu.org/licenses/>.


Copyright 2017 Christoph Matscheko
-->
<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>BowBuddy 1.1 (Prototype) - Set score for players</title>
		<meta name="author" content="Christoph Matscheko" />
		<meta name="description" content="An app for keeping track of your score in archery" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../css/main.css" />
		<style>
			.app-logo {
				margin-bottom: 45px;
			}
			
			.player-selection {
				width: 100%;
				margin-top: 22px;
			}
			
			#player-selection-list {
				margin-top: 12px;
				margin-bottom: 12px;
			}
		</style>
		<link rel="stylesheet" href="../css/bootstrap-theme.min.css">
		<script src="../js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
	</head>
	<body>
		<nav class="navbar">
			<a class="btn" href="#" id="back-btn" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
		</nav>
		<div class="container" id="main">
			<h1>Station <span id="station-no">?</span>: Select player</h1>
			
			<div class="btn-group btn-group-justified" role="group">
				<a class="btn btn-primary btn-lg" href="#" id="quick-assign-btn" role="button" disabled="disabled">
					<span class="glyphicon glyphicon-forward" aria-hidden="true"></span> Quick assign
				</a>
			</div>

			<div class="btn-group-vertical btn-group-lg player-selection" id="player-selection-list" role="group" aria-label="choose player">
				<!-- PLAYER BUTTONS ARE INSERTED HERE -->
			</div>
			
			<div class="btn-group btn-group-justified" role="group">
				<a class="btn btn-success btn-lg" href="#" id="next-station-btn" role="button" disabled="disabled">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Next station
				</a>
			</div>
		</div>
		
		<script src="../js/vendor/jquery-1.11.2.min.js"></script>
		<script src="../js/vendor/bootstrap.min.js"></script>
		<script src="../js/main.js"></script>
		<script>
			$(function(){
				const urlParams = BowBuddy.getUrlParams();
				
				$("nav.navbar").on("click", BowBuddy.switchToFullscreenFunc());
				$("#back-btn")
					.on("click", (e) => {
						const station = urlParams.station;
						
						if (station > 1) {
							window.location.href = "station-select-player.html?gid=" + urlParams.gid + "&station=" + (station - 1);
						} else {
							const result = window.confirm("Do you really want to go back to the game menu? All progess will be lost!");
							
							if (result) {
								// TODO replace native dialog with bootstrap dialog and actually delete all scores for current game!
								window.location.href = "new-game.html";
							}
						}
					});
				$("#station-no").text(urlParams.station);
				
				BowBuddy.storage.getCourseForGame(urlParams.gid)
					.then((course) => {
						const stations = +course.stations; // TODO remove type coercion with new db!
						
						if (urlParams.station >= stations) {
							$("#next-station-btn")
								.html("<span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span> Finish course")
								.on("click", (e) => window.location.href = "final-score.html?gid=" + urlParams.gid);
						} else {
							$("#next-station-btn")
								.on("click", (e) => window.location.href = "station-select-player.html?gid=" + urlParams.gid + "&station=" + (urlParams.station + 1));
						}
						
						BowBuddy.storage.getPlayersWithScore(urlParams.gid, urlParams.station)
							.then((players) => {
								const $playerSelectionList = $("#player-selection-list");
								let playersWithScore = 0;
						
								if (players.length === 0) {
									throw new Error("Cannot load players!");
								}
						
								$("#quick-assign-btn")
									.on("click", (e) => {
										const qaParam = (players.length > 1) ? "&qa=" + players.slice(1).map((p) => p.pid).join("+") : "";
										window.location.href = "station-set-score.html?gid=" + urlParams.gid + "&pid=" + players[0].pid + qaParam + "&station=" + urlParams.station;
									});
						
								players.forEach((player) => {
									const $playerEntry = $("<a/>")
											.addClass("btn btn-default")
											.attr("href", "station-set-score.html?gid=" + urlParams.gid + "&pid=" + player.pid + "&station=" + urlParams.station)
											.attr("role", "button")
											.text(player.name + " "); // add space separator here for score badge
							
									if (player.score) {
										const $scoreBadge = $("<span/>").addClass("badge");
								
										playersWithScore++;
								
										if (player.score === "miss") {
											$scoreBadge.html("Miss&nbsp;&nbsp;&nbsp;(+0)");
										} else {
											$scoreBadge.html(BowBuddy.scoreToDisplayName(player.score) + "&nbsp;&nbsp;&nbsp;(+" + BowBuddy.scoreToPoints(player.score) + ")");
										}								
										$playerEntry.append($scoreBadge);
									}
							
									$playerSelectionList.append($playerEntry);
								});
						
								if (playersWithScore === players.length) {
									$("#next-station-btn").removeAttr("disabled");
								} else if (playersWithScore === 0) {
									$("#quick-assign-btn").removeAttr("disabled"); // enable quick-assign only when no player has a score yet
								}
							});
					});
			});
		</script>
	</body>
</html>
