<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>BowBuddy 1.0 (Prototype) - New Game</title>
		<meta name="description" content="An app for keeping track of your score">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/main.css">
		<style>
			.app-logo {
				margin-bottom: 45px;
			}
			
			.player-selection {
				width: 100%;
				margin-top: 22px;
			}
		</style>
		<link rel="stylesheet" href="../css/bootstrap-theme.min.css">
		<script src="../js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
	</head>
	<body>
		<nav class="navbar">
			<a class="btn" href="new-game.html" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
		</nav>
		<div class="container" id="main">
			<h1>Station 1: Select player</h1>

			<div class="btn-group-vertical btn-group-lg player-selection" role="group" aria-label="choose player">
				<a class="btn btn-default" href="station-set-score.html?player=player1" role="button">
					Player 1 <span class="badge">1<sup>st</sup> - Center Kill&nbsp;&nbsp;&nbsp;(+20)</span>
				</a>
				<a class="btn btn-default" href="station-set-score.html?player=player2" role="button">Player 2</a>
				<a class="btn btn-default" href="station-set-score.html?player=player3" role="button">Player 3</a>
				<a class="btn btn-default" href="station-set-score.html?player=player4" role="button">Player 4</a>
			</div>
		</div>
		
		<script src="../js/vendor/jquery-1.11.2.min.js"></script>
		<script src="../js/vendor/bootstrap.min.js"></script>
		<script src="../js/main.js"></script>
		<script>
			$(function(){
				const urlParams = BowBuddy.getUrlParams();
				
				console.log(urlParams);
				
				BowBuddy.storage.getPlayersForGame(urlParams.gid).then((players) => console.log(players));
				
				$("nav.navbar").on("click", BowBuddy.switchToFullscreenFunc());
			});
		</script>
	</body>
</html>
