/**
 * This file is part of BowBuddy.
 *
 * BowBuddy is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * BowBuddy is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with BowBuddy.  If not, see <http://www.gnu.org/licenses/>.
 *
 *
 * Copyright 2017-2019 Christoph Matscheko
 */
@import '../../node_modules/c3/c3.css';

#main.final-score-view {
  .course-label {
    font-style: italic;
  }

  .leaderboard > .collection-item.avatar {
    padding: 10px;
    text-align: left;
  }

  .leaderboard-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    width: 46px;
    height: 46px;
    border-radius: 28px;
    float: left;
    margin-right: 10px;
    color: #bdbdbd;

    &.first-place {
      color: #fafafa;
      font-size: 26px;
      width: 60px;
      height: 60px;
      border-radius: 30px;
    }

    &.second-place {
      color: #fafafa;
      font-size: 22px;
      width: 56px;
      height: 56px;
      border-radius: 228px;
    }

    &.third-place {
      color: #fafafa;
      font-size: 18px;
      width: 50px;
      height: 50px;
      border-radius: 25px;
    }
  }

  .progress-chart,
  .avg-progress-chart {
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
