/**
 * This file is part of BowBuddy.
 * 
 * BowBuddy is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * BowBuddy is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with BowBuddy.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * 
 * Copyright 2017-2018 Christoph Matscheko
 */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#main {
  text-align: center;
  padding: 25px;

  h1 {
    font-size: 22pt;
    border-bottom: 1px solid #333;
    padding-bottom: 4px;
    margin-bottom: 8px;
    margin-top: 0;
  }

  h2 {
    font-size: 20px;
  }
}
